<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Your Assets</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="header :: header"></div>
    <h2 th:text="${currency.name}+' - '+${currency.symbol}"></h2>
    <form id="tradeForm" th:action="@{/transaction}" th:object="${transaction}" method="post">
        <input type="text" th:id="transactionTypeId" th:name="transactionTypeId" th:value="1" th:hidden="hidden"/>
        <p>Market:<input type="text" th:field="*{marketId}"/></p>
        <p>Fee:<input type="number" th:field="*{fee}"/></p>
        <p>Pay:<input type="number" th:field="*{payAmount}" placeholder="amount to pay"/>
            <a th:text="${currency.name}+' - '+${currency.symbol}"></a>
            <a> from </a>
            <input type="text" th:field="*{payAssetId}" placeholder="asset to pay"/>
        </p>
        <p>Recieve:
            <input type="number" th:field="*{buyAmount}"/>
            <a> to </a>
            <input type="text" th:field="*{buyAssetId}" placeholder="asset to recieve"/></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
</body>
</html>