<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Currencies</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="header :: header"></div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Currency</th>
            <th scope="col">Symbol</th>
        </tr>
        </thead>
        <tbody>
            <th:block th:each="currency,iter: ${currencies}">
                <tr>
                    <th scope="row" th:text="${iter.index}+1">1</th>
                    <td th:text="${currency.name}">...</td>
                    <td th:text="${currency.symbol}">...</td>
                </tr>
            </th:block>
        </tbody>
    </table>
</div>
</body>
</html>