<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="header" >
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="http://spring.io"> Spring </a>
                <ul class="nav">
                    <li><a href="/"> Home </a></li>
                    <li><a>Profile</a></li>
                <div sec:authorize="isAuthenticated()">
                    <li>Hello  <a sec:authentication="name"></a></li>
                    <li>
                        <form id="logoutForm" th:action="@{/logout}" method="post">
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                </div>
                <div sec:authorize="isAnonymous()">
                    <li>
                        <a th:href="@{/login}" href="/login">log in</a>
                    </li>
                </div>
                </ul>
            </div>
        </div>


    </div>
</div>
</body>
</html>
