<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="header">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    <div class="container">

        <div class="navbar navbar-inverse bg-inverse">
            <div class="navbar-inner">
                <a class="brand" href="http://spring.io"> Spring </a>
                <ul class="nav">
                    <li>
                        <a href="/"> Home </a>
                    </li>
                    <li>
                        <a>Profile</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <li>
                            <a sec:authentication="name"></a>
                        </li>
                        <li>
                            <form class="form-inline my-2 my-lg-0" id="logoutForm" th:action="@{/logout}" method="post">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                            </form>
                        </li>
                    </li>

                    <li sec:authorize="isAnonymous()">
                    <li>
                        <button class="btn btn-outline-success my-2 my-sm-0">
                            <a th:href="@{/login}" style="text-decoration:none;">Sign In</a>
                        </button>
                    </li>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</div>
</body>
</html>
