<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Assets Overview</title>
</head>
<body>
<div th:replace="header :: header"></div>
<table>
    <th:block th:each="wallet: ${overview.wallets}">
        <th:block th:each="asset: ${wallet.assets}">
            <tr>
                <td th:text="${asset.asset.amount}">...</td>
                <td th:text="${asset.currencyName}">...</td>
            </tr>
        </th:block>
    </th:block>
</table>
</body>
</html>