<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>New Transacion</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/js/selectize.min.js"></script>
    <link rel="stylesheet" href="/css/selectize.default.css"/>
</head>
<body>
<div class="container">
    <div th:replace="header :: header"></div>
    <h2>New Transaction</h2>
    <!--/*@thymesVar id="transaction" type="com.bewire.PL.DTO.TransactionDTO"*/-->
    <form id="transactionForm" th:action="@{/transaction}" th:object="${transaction}" method="post">
        <p><a>Coin </a>
            <input id="coin1" required="required"/>
        </p>
        <p>Exchange <input id="exchange"/></p>
        <p>Market <input id="market" name="marketId" required="required"/></p>
        <p><div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active" onclick="marketTypeOnclick('buy');">
                <input type="radio"  autocomplete="off" checked="checked"/>Buy
            </label>
                <label class="btn btn-secondary" onclick="marketTypeOnclick('pay');">
                <input type="radio"  autocomplete="off"/>Sell
            </label>
            </div>
        </p>

        <div id="tradeForm" style="display: none">
            <div id="buyForm">
                <p>
                    <input class="buyAmount" required="required" type="number"/>
                    <a class="coin1"></a>
                    <span>&#8592;</span>
                    <input class="payAmount" required="required" type="number"/>
                    <a class="coin2"></a>
                </p>
                <p>
                    Price <input type="number" class="price"/>
                    <a class="coin2"></a>/<a class="coin1"></a> Updated at:<a class="updateTime"></a>
                </p>
            </div>

            <div id="payForm" style="display: none" >
                <p>
                    <input class="payAmount" required="required"  type="number"/>
                    <a class="coin1"></a>
                    <span>&#8594;</span>
                    <input class="buyAmount" required="required"  type="number"/>
                    <a class="coin2"></a>
                </p>
                <p>
                    Price <input type="number" class="price"/>
                    <a class="coin1"></a>/<a class="coin2"></a> Updated at:<a class="updateTime"></a>
                </p>
            </div>

            <input th:field="*{buyCurrencyId}" hidden="hidden"/>
            <input th:field="*{payCurrencyId}" hidden="hidden"/>
            <input th:field="*{buyAmount}"  hidden="hidden"/>
            <input th:field="*{payAmount}" hidden="hidden"/>

            <p><input id="transactionSubmit" type="submit" value="Confirm" /> <input type="reset" value="Reset" /></p>
        </div>
    </form>
</div>
</body>
<style>
    input[type='number'] {
        appearance: textfield;
    }
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']:hover::-webkit-inner-spin-button,
    input[type='number']:hover::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
</style>
<script th:inline="javascript">
    /*<![CDATA[*/
    var calcuAmount=function () {
        //prefix
        var p="#"+marketType+"Form ";
        var buy=$(p+".buyAmount").val().length>0;
        var pay=$(p+".payAmount").val().length>0;
        var price=$(p+".price").val()>0;

        if(this.className=="buyAmount"||this.className=="price"){
            if(price&&buy)
                $(p+".payAmount").val(parseFloat($(p+".price").val())*parseFloat($(p+".buyAmount").val()));
        }

        else if(this.className=="payAmount"||this.className=="price"){
            if(price&&pay)
                $(p+".buyAmount").val(parseFloat($(p+".payAmount").val())/parseFloat($(p+".price").val()));

        }

        else if(!price&&buy&&pay)
            $(p+".price").val(parseFloat($(p+".payAmount").val())/parseFloat($(p+".buyAmount").val()));

    }

    $("input[type='number']").attr("step","0.0001");
    $("input[type='number']").change(calcuAmount);

    var topCoins;
    var getTopCoins=function (callback) {
        if(topCoins==null)
            $.get("/data/currency/top/20",function (result) {
                topCoins=result.suggestions;
                callback(topCoins);
            })
        else{
            return callback(topCoins);}
    }

    var exchanges;
    var marketType="buy";

    var marketTypeOnclick=function (type) {
        var opposingType;
        if(type=="pay")
            opposingType="buy";
        else
            opposingType="pay";

        $('#'+opposingType+'Form').css('display','none');
        $('#'+opposingType+'Form input').prop( "disabled", true);
        marketType=type;
        $('#'+marketType+'Form').css('display','block');
        $('#'+marketType+'Form input').prop( "disabled", false);
        getMarkets();
    }


    $.get("/data/exchanges",
        function (result) {
           exchanges=result;
            $("#exchange").selectize({
                valueField:'id',
                searchField:['name','url'],
                maxItems:1,
                placeholder:"Exchange",
                options:exchanges,
                preload:true,
                onChange:function(value){getMarkets()},
                render: {
                    item: function(item, escape) {
                        return '<div>' +
                            (item.name ? '<span class="name">' + escape(item.name) + '</span>' : '') +
                            (item.url ? '-<span class="description">' + escape(item.url) + '</span>' : '') +
                            '</div>';
                    },
                    option: function(item, escape) {
                        var label = item.name || item.url;
                        var caption = item.name ? item.url : null;
                        return '<div>' +
                            '<span class="label">' + escape(label) + '</span>' +
                            (caption ? '-<span class="caption">' + escape(caption) + '</span>' : '') +
                            '</div>';
                    }
                }
            })
        });

    $("#coin1").selectize({
        valueField:'id',
        searchField:['name','symbol'],
        maxItems:1,
        create:false,
        placeholder:"Coin",
        preload:true,
        render: {
            item: function(item, escape) {
                return '<div>' +
                    (item.name ? '<span class="coin1Name">' + escape(item.name) + '</span>' : '') +
                    (item.symbol ? '-<span class="coin1Symbol">' + escape(item.symbol) + '</span>' : '') +
                    '</div>';
            },
            option: function(item, escape) {
                var label = item.name || item.symbol;
                var caption = item.name ? item.symbol : null;
                return '<div>' +
                    '<span class="label">' + escape(label) + '</span>' +
                    (caption ? '-<span class="caption">' + escape(caption) + '</span>' : '') +
                    '</div>';
            }
        },
        onChange:function(value){
            getMarkets();
        },
        load:function (query,callback) {
            if (!query.length){
                return getTopCoins(callback);
            }
            $.ajax({
                url: '/data/currency/filter/'+ encodeURIComponent(query),
                type: 'GET',
                error: function() {
                    callback();
                },
                success: function(res) {
                    callback(res.suggestions);
                }
            });
        }
    })

    var getMarkets=function () {
        if(!$("#exchange").val()>0||!$("#coin1").val()>0)
           market.disable();
        else {
            market.clearOptions();
            market.load(function(callback) {
                $.ajax({
                    url: "/data/exchange/"+$("#exchange").val()+"/market/"+marketType+"/"+$("#coin1").val(),
                    success: function(results) {
                        market.enable();
                        coin1Id=$("#coin1").val();
                        callback(results);
                    },
                    error: function() {
                        callback();
                    }
                })
            });
        };
    }

    $("#market").selectize({
        valueField:'marketId',
        searchField:'marketName',
        maxItems:1,
        create:false,
        placeholder:"Please chose your exchange and coin",
        render: {
            item: function(item, escape) {
                return '<div>' +
                    (item.marketName ? '<span class="Name">' + escape(item.marketName) + '</span>' : '') +
                    (item.currency2Name ? '<span class="coin2Name" hidden="hidden">' + escape(item.currency2Name) + '</span>' : '') +
                    (item.currency2Id ? '<span class="coin2Id" hidden="hidden">' + escape(item.currency2Id) + '</span>' : '')
                    '</div>';
            },
            option: function(item, escape) {
                var label = item.marketName;
                return '<div>' +
                    '<span class="label">' + escape(label) + '</span>' +
                    '</div>';
            }
        },
        onChange:function (value) {
            fillForm();
            if(value>0){
                $("#tradeForm").css("display","block");
                getMarketPrice();
            }
            else
                $("#tradeForm").css("display","none");
        }
    })

    var market= $("#market")[0].selectize;
    market.disable();

    var fillForm=function () {
        var coin1Name=$("#transactionForm .coin1Name").text();
        var coin2Name=$("#transactionForm .coin2Name").text();
        $("#tradeForm .coin1").text(coin1Name);
        $("#tradeForm .coin2").text(coin2Name);
    }

    $("#transactionForm").on("submit",function () {
        if(marketType=="buy"){
            $("#buyCurrencyId").val($("#coin1").val());
            $("#payCurrencyId").val($("#transactionForm .coin2Id").text());
        }
        else if(marketType=="pay") {
            $("#payCurrencyId").val($("#coin1").val());
            $("#buyCurrencyId").val($("#transactionForm .coin2Id").text());
        }
        $("#buyAmount").val($(".buyAmount").val());
        $("#payAmount").val($(".payAmount").val());
        return true;
    })

    $('#payForm input').prop( "disabled", true);
    
    var getMarketPrice=function () {
        if(market.getValue()>0){
            var id=market.getValue();
            $.get("/data/market/"+id,function (result) {
                id=market.getValue();
                $("#"+marketType+"Form .price").val(result.last);
                $("#"+marketType+"Form .price").trigger("change");
                $("#"+marketType+"Form .updateTime").text(Date());
            })
        }
    }

   window.setInterval(getMarketPrice,10000);
    /*]]>*/
</script>
</html>
