<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>New Transacion</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/js/selectize.min.js"></script>
    <link rel="stylesheet" href="/css/selectize.default.css"/>
</head>
<body>
<div class="container">
    <div th:replace="header :: header"></div>
    <h2>New Transaction</h2>
    <!--/*@thymesVar id="transaction" type="com.bewire.PL.DTO.TransactionDTO"*/-->
    <div id="mainCoin" class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Coin</span>
        </div>
        <input class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="coin1"
               required="required"/>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Action</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="type">
            <option value="edit">Edit</option>
            <option value="trade">Trade</option>
        </select>
    </div>

    <div id="addDiv">
        <!--/*@thymesVar id="asset" type="com.bewire.Models.Asset"*/-->
        <form id="addAssetForm" th:action="@{/asset}" th:object="${asset}" method="post">
            <input th:field="*{currencyId}" hidden="hidden"/>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Amount</span>
                </div>
                <input class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                       th:field="*{amount}" type="number" required="required"/>
            </div>

            <p><input id="addAssetSubmit" type="submit" value="Confirm"/> <input type="reset" value="Reset"/></p>
        </form>
    </div>


    <div id="tradeDiv">
        <form id="transactionForm" th:action="@{/transaction}" th:object="${transaction}" method="post">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Exchange</span>
                </div>
                <input class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                       id="exchange"/>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Market</span>
                </div>
                <input class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                       id="market" name="marketId" required="required"/>
            </div>

            <p>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active" onclick="marketTypeOnclick('buy');">
                    <input type="radio" autocomplete="off" checked="checked"/>Buy
                </label>
                <label class="btn btn-secondary" onclick="marketTypeOnclick('pay');">
                    <input type="radio" autocomplete="off"/>Sell
                </label>
            </div>
            </p>

            <div id="tradeForm" style="display: none">

                <div id="buyForm">

                    <div class="input-group mb-3">
                        <input class="buyAmount form-control" required="required" type="number"/>
                        <div class="input-group-prepend">
                            <span class="coin1 input-group-text"></span>
                        </div>
                        <span>&#8592;</span>
                        <input class="payAmount form-control" required="required" type="number"/>
                        <div class="input-group-append">
                            <span class="coin2 input-group-text"></span>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Price</span>
                        </div>
                        <input class="price form-control" aria-label="Default"
                               aria-describedby="inputGroup-sizing-default"
                               type="number" required="required"/>
                        <div class="input-group-ap">
                            <span class="input-group-text"><a class="coin2"></a>/<a class="coin1"></a></span>
                        </div>
                    </div>
                    <p>
                        <a class="coin2"></a>/<a class="coin1"></a> Updated at:<a class="updateTime"></a>
                    </p>
                </div>

                <div id="payForm" style="display: none">
                    <div class="input-group mb-3">
                        <input class="payAmount form-control" required="required" type="number"/>
                        <div class="input-group-append">
                            <span class="coin1 input-group-text"></span>
                        </div>
                        <span>&#8594;</span>
                        <input class="buyAmount form-control" required="required" type="number"/>
                        <div class="input-group-prepend">
                            <span class="coin2 input-group-text"></span>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Price</span>
                        </div>
                        <input class="price form-control" aria-label="Default"
                               aria-describedby="inputGroup-sizing-default"
                               type="number" required="required"/>
                        <div class="input-group-ap">
                            <span class="input-group-text"><a class="coin1"></a>/<a class="coin2"></a></span>
                        </div>
                    </div>

                    <p>
                        Updated at:<a class="updateTime"></a>
                    </p>
                </div>

                <input th:field="*{buyCurrencyId}" hidden="hidden"/>
                <input th:field="*{payCurrencyId}" hidden="hidden"/>
                <input th:field="*{buyAmount}" hidden="hidden"/>
                <input th:field="*{payAmount}" hidden="hidden"/>

                <p><input id="transactionSubmit" type="submit" value="Confirm"/> <input type="reset" value="Reset"/>
                </p>
            </div>
        </form>
    </div>
</div>
</body>
<style>
    input[type='number'] {
        appearance: textfield;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']:hover::-webkit-inner-spin-button,
    input[type='number']:hover::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<script th:inline="javascript">
    /*<![CDATA[*/
    $("input[type='submit']").addClass("btn btn-dark");
    $("input[type='reset']").addClass("btn btn-secondary");

    $("#type").selectize({
        onChange: function (value) {
            if (value == "edit") {
                $("#tradeDiv").css("display", "none");
                $("#addDiv").css("display", "block");
            }
            else if (value == "trade") {
                $("#addDiv").css("display", "none");
                $("#tradeDiv").css("display", "block");
            }
        }
    });

    var calcuAmount = function () {
        //prefix
        var p = "#" + marketType + "Form ";
        var buy = $(p + ".buyAmount").val().length > 0;
        var pay = $(p + ".payAmount").val().length > 0;
        var price = $(p + ".price").val() > 0;

        if(this.value.length==0)
            return true;
           else if ($(this).hasClass("buyAmount") || $(this).hasClass("price")) {
            if (price && buy)
                $(p + ".payAmount").val(parseFloat($(p + ".price").val()) * parseFloat($(p + ".buyAmount").val()));
        }
        else if ($(this).hasClass("payAmount") || $(this).hasClass("price")) {
            if (price && pay)
                $(p + ".buyAmount").val(parseFloat($(p + ".payAmount").val()) / parseFloat($(p + ".price").val()));
        }

        if (!price && buy && pay)
            $(p + ".price").val(parseFloat($(p + ".payAmount").val()) / parseFloat($(p + ".buyAmount").val()));

    }

    $("input[type='number']").attr("step", "any");
    $("#tradeForm input[type='number']").change(calcuAmount);

    var topCoins;
    var getTopCoins = function (callback) {
        if (topCoins == null)
            $.get("/data/currency/top/20", function (result) {
                topCoins = result.suggestions;
                callback(topCoins);
            })
        else {
            return callback(topCoins);
        }
    }

    var exchanges;
    var marketType = "buy";

    var marketTypeOnclick = function (type) {
        var opposingType;
        if (type == "pay")
            opposingType = "buy";
        else
            opposingType = "pay";

        $('#' + opposingType + 'Form').css('display', 'none');
        $('#' + opposingType + 'Form input').prop("disabled", true);
        marketType = type;
        $('#' + marketType + 'Form').css('display', 'block');
        $('#' + marketType + 'Form input').prop("disabled", false);
        getMarkets();
    }


    $.get("/data/exchanges",
        function (result) {
            exchanges = result;
            $("#exchange").selectize({
                valueField: 'id',
                searchField: ['name', 'url'],
                maxItems: 1,
                placeholder: "Exchange",
                options: exchanges,
                preload: true,
                onChange: function (value) {
                    getMarkets()
                },
                render: {
                    item: function (item, escape) {
                        return '<div>' +
                            (item.name ? '<span class="name">' + escape(item.name) + '</span>' : '') +
                            (item.url ? '-<span class="description">' + escape(item.url) + '</span>' : '') +
                            '</div>';
                    },
                    option: function (item, escape) {
                        var label = item.name || item.url;
                        var caption = item.name ? item.url : null;
                        return '<div>' +
                            '<span class="label">' + escape(label) + '</span>' +
                            (caption ? '-<span class="caption">' + escape(caption) + '</span>' : '') +
                            '</div>';
                    }
                }
            })
        });

    $("#coin1").selectize({
        valueField: 'id',
        searchField: ['name', 'symbol'],
        maxItems: 1,
        create: false,
        placeholder: "Coin",
        preload: true,
        render: {
            item: function (item, escape) {
                return '<div>' +
                    (item.name ? '<span class="coin1Name">' + escape(item.name) + '</span>' : '') +
                    (item.symbol ? '-<span class="coin1Symbol">' + escape(item.symbol) + '</span>' : '') +
                    '</div>';
            },
            option: function (item, escape) {
                var label = item.name || item.symbol;
                var caption = item.name ? item.symbol : null;
                return '<div>' +
                    '<span class="label">' + escape(label) + '</span>' +
                    (caption ? '-<span class="caption">' + escape(caption) + '</span>' : '') +
                    '</div>';
            }
        },
        onChange: function (value) {
            getMarkets();
        },
        load: function (query, callback) {
            if (!query.length) {
                return getTopCoins(callback);
            }
            $.ajax({
                url: '/data/currency/filter/' + encodeURIComponent(query),
                type: 'GET',
                error: function () {
                    callback();
                },
                success: function (res) {
                    callback(res.suggestions);
                }
            });
        }
    })

    var getMarkets = function () {
        if (!$("#exchange").val() > 0 || !$("#coin1").val() > 0)
            market.disable();
        else {
            market.clearOptions();
            market.load(function (callback) {
                $.ajax({
                    url: "/data/exchange/" + $("#exchange").val() + "/market/" + marketType + "/" + $("#coin1").val(),
                    success: function (results) {
                        market.enable();
                        coin1Id = $("#coin1").val();
                        callback(results);
                    },
                    error: function () {
                        callback();
                    }
                })
            });
        }
        ;
    }

    $("#market").selectize({
        valueField: 'marketId',
        searchField: 'marketName',
        maxItems: 1,
        create: false,
        placeholder: "Please chose your exchange and coin",
        render: {
            item: function (item, escape) {
                return '<div>' +
                    (item.marketName ? '<span class="Name">' + escape(item.marketName) + '</span>' : '') +
                    (item.currency2Name ? '<span class="coin2Name" hidden="hidden">' + escape(item.currency2Name) + '</span>' : '') +
                    (item.currency2Id ? '<span class="coin2Id" hidden="hidden">' + escape(item.currency2Id) + '</span>' : '')
                '</div>';
            },
            option: function (item, escape) {
                var label = item.marketName;
                return '<div>' +
                    '<span class="label">' + escape(label) + '</span>' +
                    '</div>';
            }
        },
        onChange: function (value) {
            fillForm();
            if (value > 0) {
                $("#tradeForm").css("display", "block");
                getMarketPrice();
            }
            else
                $("#tradeForm").css("display", "none");
        }
    })

    var market = $("#market")[0].selectize;
    market.disable();

    var fillForm = function () {
        var coin1Name = $("#mainCoin .coin1Name").text();
        var coin2Name = $("#transactionForm .coin2Name").text();
        $("#tradeForm .coin1").text(coin1Name);
        $("#tradeForm .coin2").text(coin2Name);
    }

    $("#transactionForm").on("submit", function () {
        if (marketType == "buy") {
            $("#buyCurrencyId").val($("#coin1").val());
            $("#payCurrencyId").val($("#transactionForm .coin2Id").text());
        }
        else if (marketType == "pay") {
            $("#payCurrencyId").val($("#coin1").val());
            $("#buyCurrencyId").val($("#transactionForm .coin2Id").text());
        }
        $("#buyAmount").val($(".buyAmount").val());
        $("#payAmount").val($(".payAmount").val());
        return true;
    })

    $("#addAssetForm").on("submit", function () {
        $("#addDiv input[name='currencyId']").val($("#coin1").val());
    })

    $('#payForm input').prop("disabled", true);

    var getMarketPrice = function () {
        if (market.getValue() > 0) {
            var id = market.getValue();
            $.get("/data/market/" + id, function (result) {
                id = market.getValue();
                $("#" + marketType + "Form .price").val(result.last);
                $("#" + marketType + "Form .price").trigger("change");
                $("#" + marketType + "Form .updateTime").text(Date());
            })
        }
    }

    $("#tradeDiv").css("display", "none");
    window.setInterval(getMarketPrice, 10000);
    /*]]>*/
</script>
</html>
