<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="${wallet.name}+'AddAssets'">Wallet</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/js/jquery.easy-autocomplete.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/easy-autocomplete.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/formStyle.css}"/>
</head>
<body>
<div class="container">
    <div th:replace="header :: header"></div>
    <h2><a th:text="${wallet.name}" th:href="@{/wallet/}+${wallet.id}">Wallet</a></h2>
    <form id="addAssetForm" th:action="@{/asset}" th:object="${asset}" method="post">
        <input type="number" th:field="*{walletId}" hidden="hidden" required="required" readonly="readonly"/>
        <p style="display: -webkit-box">Currency: <input type="text" id="currencyFilterInput" required="required"/></p>
        <input type="number" th:field="*{currencyId}" required="required" hidden="hidden" />
        <p>Amount: <input type="number" step="any" th:field="*{amount}" placeholder="Trade amount" required="required"/></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var options = {
        url: function(phrase) {
            return "/data/currency/filter/" + phrase;
        },
        listLocation: "suggestions",
        matchResponseProperty: "query",
        getValue: "name",
        template: {
            type: "description",
            fields: {
                description: "symbol"
            }
        },
        placeholder:"Chose your coin",
        list: {
            onChooseEvent: function() {
                var value = $("#currencyFilterInput").getSelectedItemData().id;
                $("#currencyId").val(value);
            }
        }
    };
    $("#currencyFilterInput").easyAutocomplete(options);
    $("#currencyFilterInput").keypress(function () {
        $("#currencyId").val(-1);
    })

    $("#addAssetForm").on('submit',function () {
        if($("#currencyId").val()==-1){
            alert("Unvalidate Coin!");
            return false;
        }
        else
            return true;
    });
    /*]]>*/
</script>
</html>