<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="${wallet.wallet.name}">Wallet</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link rel="stylesheet" th:href="@{/css/sortableTabel.css}"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery.tablesorter.js}"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="header :: header"></div>
    <table id="assetsTable" class="table tablesorter">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Amount</th>
            <th scope="col">Currency</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="asset,iter: ${wallet.assets}">
            <tr>
                <th scope="row" th:text="${iter.index}+1">1</th>
                <td th:text="${asset.asset.amount}">...</td>
                <td><a th:text="${asset.currency.name}" th:href="@{/currency/}+${asset.currency.id}"></a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <a href="/transaction" style=" position: absolute;bottom: 20%;right: 50%">
        <img src="/img/plus-button.png"  width="70" height="70" border="0" />
    </a>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function()
        {
            $("#assetsTable").tablesorter();
        }
    );
    /*]]>*/
</script>
</html>